<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryuunoakaihitomi.rebootmenu" >
	<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.NoDisplay"
			android:excludeFromRecents="false"
			android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".RootMode"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.NoDisplay"
		>
        </activity>
		<activity
            android:name=".UnRootMode"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.NoDisplay"
		>
        </activity>
		<receiver android:name=".AdminReceiver"  
			android:label="@string/app_name" 
			android:description="@string/lsrm"
			android:permission="android.permission.BIND_DEVICE_ADMIN">  
			<meta-data 
				android:name="android.app.device_admin"  
				android:resource="@xml/lock_screen" />  
			<intent-filter>  
				<action  
					android:name="android.app.action.DEVICE_ADMIN_ENABLED" />  
			</intent-filter>  
        </receiver>  
		<service android:name="com.ryuunoakaihitomi.rebootmenu.SystemPowerDialog"  
			android:description="@string/accessibility_service_description"
			android:label="高级电源菜单_调用系统电源菜单服务"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService"/>
			</intent-filter>
			<mate-data
				android:name="android.accessibilityservice"
				android:resource="@xml/accessibility"/>
		</service>

    </application>

</manifest>
